---
import { Image } from 'astro:assets';

interface Props {
  linkText: string;
  imageOne:string;
  imageTwo:string;
}
const { linkText, imageOne, imageTwo } = Astro.props;
---

<section class="py-12">
  <div class="grid grid-cols-2 p-4">
    <div>
      <h1 class="text-white text-5xl italic max-w-xs yellowText pb-8">Acerca de nuestra familia</h1>
      <p class="text-white max-w-sm">
        Astraeus fue fundada en 2001 por un equipo de marido y mujer, Bobby y Dora Graff. Desde entonces, nos hemos expandido a más de 115 ubicaciones en todo el país.
      </p>
      <p class="text-white mt-8 underline">
        <a href={linkText}>leer mas</a>
      </p>
    </div>
    <div class="grid grid-cols-2">
        <Image src={'/images/'+imageOne} 
        width={600} 
        height={600/1.5} 
        alt="Gym Instructor" 
        class="rounded-md object-cover w-48"/>
        <Image src={'/images/'+imageTwo}
         width={600} height={600/1.5} alt="Boxing Instructor" class="rounded-md object-cover w-48 pt-8"/>
    </div>
  </div>
</section>
